#”first” {
  padding: 5px;
  border: 2px dotted green;
  width: 200px;
  height: 200px;
  text-align: center;
}

.”red” {
  color: red;
  font-weight: bold;
}

#”second” {
  position: relative;
  bottom: 50px;
  padding: 5px;
  border: 2px dotted orange;
  width: 200px;
  height: 200px;
  text-align: center;
}