li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
}

a:link{
  display: flex;
  align-items: center;
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: rgb(68, 68, 68);
  color: white;
}

a:active {
  background-color:rgb(46, 240, 46);
  color: white;
}

#active {
  background-color:rgb(46, 240, 46);
  color: white;
}